*, *::after, *::before {
    box-sizing: border-box;
}

body {
    text-align: center;
    background-color: rgb(33, 87, 28);
    background-position: center;
    background-size: cover;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 3.7fr 1fr 3.7fr .5fr;
    justify-content: center;
    align-items: center;
    justify-items: center;
    min-height: 100%;
    width: 100%;
    position: relative;
    margin: 0;
}
.stack {
    background-color: rgb(33, 87, 28);
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 2;
    width: 100%;
    max-width: 175px;
    height: 250px;
    border: black solid 1px;
    border-radius: 1.5rem;
}
.dealerSlot {
    background-color: rgb(33, 87, 28);
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1;
    width: 100%;
    max-width: 640px;
    height: 320px;
    border: black solid 1px;
    border-radius: 7%;
    box-shadow: 3px 10px 20px 0px black;
    user-select: none;
}
.center {
    font-size: 6rem;
}
p {
    margin: 0px;
}
.top {
    font-size: 1.5rem;
    position: absolute;
    top: .3rem;
    left: .4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.bottom {
    font-size: 1.5rem;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: rotate(180deg);
    bottom: .3rem;
    right: .4rem;
    letter-spacing: -2px;
}
.red {
    color: red;
}
.black {
    color: black;
}
.playerSlot {
    background-color: rgb(33, 87, 28);
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1;
    grid-row: 3;
    width: 100%;
    max-width: 640px;
    height: 320px;
    border: black solid 1px;
    border-radius: 7%;
    box-shadow: 3px 10px 20px 0px black;
    user-select: none;
}
.card {
    border: black solid 1px;
    background-color: whitesmoke;
    border-radius: 1rem;
    width: 8.4rem;
    height: 200px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 10px 20px 0px black;
    position: relative;
}
.placeHolder {
    border: solid 2px black;
    width: 7.5rem;
    height: 200px;
    border-radius: 1rem;
    margin: 10px;
}
.discardStack {
    background-image: url("imgs/CardBackSide.png");
    background-position: center;
    background-size: contain;
    background-repeat: repeat-y;
    filter: blur(1px);
    -webkit-filter: blur(.4px);
    border-radius: 1rem;
    border: 3px white solid;
    width: 9rem;
    height: 6.4rem;
}
.chip {
    background-image: url("imgs/Chip.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border: rgba(0, 0, 0, 0.534) dashed 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row: 3;
    grid-column: 2;
    border-radius: 50%;
    width: 100%;
    max-width: 160px;
    height: 150px;
}
.hit {
    grid-column: 1 / span 4;
    grid-row: 4;
}
.hitButton {
    padding: 15px 25px;
    font-size: 1.5rem;
    font-weight: 700;
    background-color: rgba(255, 0, 0, 0.548);
    border-radius: 2em;
}
.standButton {
    padding: 15px 25px;
    font-size: 1.5rem;
    font-weight: 700;
    background-color: rgb(64, 66, 204);
    border-radius: 2em;
}
.bet {
    display: flex;
    align-items: center;
}
.buttons {
    grid-column: 2;
    grid-row: 3 / span 4;
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 17rem;
}
.betButton {
    display: block;
    padding: 8px 20px;
    border-radius: 2em;
    margin-left: 10px;
    background-color: rgba(255, 0, 0, 0.548);
}
.betting {
    display: flex;
    flex-direction: column;
}
.sideBets {
    margin: 1rem;
}
.splitButton {
    border-radius: 2em;
    padding: 6px 13px;
    margin-right: 0px;
    background-color: rgb(64, 66, 204);
}
.doubleButton {
    border-radius: 2em;
    margin-left: 20px;
    padding: 6px 10px;
    background-color: rgb(64, 66, 204);
}
.text {
    display: flex;
    grid-column: 1 / span 4;
    grid-row: 2;
    width: fit-content;
    margin: auto;
    font-size: 3em;
    font-weight: 800;
    cursor: pointer;
    user-select: none;
}
#countdown {
    margin-left: 10px;
    width: fit-content;
    height: 100%;
}
.discard {
    height: 100px;
    width: 160px;
    grid-row: 2;
    grid-column: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.faceDown {
    background-image: url("imgs/CardBack.jpg");
    background-position: center;
    background-size: cover;
    border: 5px white solid;
    box-shadow: 3px 10px 20px 0px black;
    margin: 0;
    color: transparent;
}